<div class="flex">
  <div class="logo" routerLink="/"></div>
  <form [formGroup]="form">
    Please let us know you:
    <label class="label">Your name:
      <input formControlName="name">
    </label>
    <label class="label">
      Your email:
      <input formControlName="email">
    </label>
  </form>
  <select (change)="change($event)">
    <option *ngFor="let lang of langs"
            [value]="lang.code">
      {{lang.display}}
    </option>
  </select>
</div>
<hr>
<router-outlet></router-outlet>
