<form [formGroup]="form"
      class="contact-form"
      [class.form-edit]="contactId"
      (keyup.enter)="save()">
  <label>
    {{'nameField'|translate}}
    <input formControlName="name">
  </label>
  <label>
    {{'secondNameField'|translate}}
    <input formControlName="secondName">
  </label>
  <label>
    {{'ageField'|translate}}
    <input formControlName="age">
  </label>
</form>
<div>
  {{'phoneNumbersField'|translate}}
  <button (click)="addNumber()"
          [disabled]="phoneNumbers.invalid">
    +
  </button>
</div>
<div [formGroup]="phoneNumbers"
     *ngFor="let number of phoneNumbers.controls; let i = index;">
  <input [formControlName]="i">
  <button (click)="hideNumber(i)">
    -
  </button>
</div>

<button (click)="save()"
        [disabled]="form.invalid">
  {{'saveButton'|translate}}
</button>
<button (click)="delete()"
        *ngIf="contactId">
  {{'deleteButton'|translate}}
</button>
<button (click)="back()">
  {{'cancelButton'|translate}}
</button>
